.spaceships-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;
    left: 0;
    right: 0;
}

@keyframes levitate {
    0% {
        transform: translateY(0px) scaleX(-1);
    }
    50% {
        transform: translateY(-20px) scaleX(-1);
    }
    100% {
        transform: translateY(0px) scaleX(-1);
    }
}

.spaceship {
    position: absolute;
    /* responsive width for spaceships */
    width: clamp(80px, 18vw, 200px);
    height: auto;
    transform: scaleX(-1);
    animation: levitate 3s ease-in-out infinite;
    display: block;
}

.spaceships-container img {
    filter: drop-shadow(0 0 15px #ff4500); /* Red-orange glow */
}
